.LoginScreen {
  color: #374040;
  display: grid;
  grid-auto-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: repeat(1, 100%);
  height: auto;
  position: relative;

  @media screen and (min-width: 641px) {
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
  }
}

.LoginScreenFormArea,
.LoginScreenMessageArea {
  padding: 20px;
}

.LoginScreenFormArea {
  background-color: #fff;
  height: 100%;
  position: relative;
}

.Logo {
  margin: 0 auto 70px;
  width: 120px;

  @media screen and (min-width: 641px) {
    margin: 0;
    width: 150px;
  }
}

.LoginScreenFormWrapper,
.LoginScreenMessageWrapper {
  margin: 0 auto;
  position: relative;


  @media screen and (min-width: 641px) {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.LoginScreenFormWrapper {
  max-width: 380px;
  width: 90%;
}

.LoginScreenFooter {
  color: #e2e4e4;
  font-size: 12px;
  margin-top: 30px;
  position: relative;
  text-align: center;
  width: 100%;

  @media screen and (min-width: 641px) {
    margin-top: 0;
    bottom: 20px;
    position: absolute;
  }
}

.LoginScreenMessageArea {
  background-color: #fcfcfc;
  display: none;
  position: relative;
  text-align: center;

  @media screen and (min-width: 641px) {
    display: block;
  }

  .LoginScreenMessageWrapper {
    max-width: 420px;
    padding: 0 20px;
    width: 100%;
  }

  .MessageHeadline {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;

    span {
      display: block;
      margin-bottom: 5px;
    }
  }

  .MessageImage {
    margin-bottom: 81px;
  }

  .Message {
    color: #939898;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 55px;
  }

  .MessageCaption {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-align: left;

    p {
      text-align: left;
    }

    .MessageCaptionImage {
      flex-basis: 42px;
    }

    .MessageCaptionTitle {
      color: #939898;
    }
  }
}


// Form
.FormToggle {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  li {
    cursor: pointer;
    flex-basis: 50%;
    font-size: 18px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;

    &:hover,
    &.active {
      font-weight: 700;
  
      &:after {
        background-color: #3bc4a1;
        bottom: 0;
        content: '';
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 73px;

      }
    }
  } 
}

.Form {

  .FormInputWrapper {
    margin-bottom: 30px;
  }

  .FormLabel {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .FormTextInput,
  .FormCustomCheckBox {
    border: 1px solid #e2e4e4;
  }
  

  .FormTextInput {
    border: 1px solid #e2e4e4;
    border-radius: 3px;
    padding: 10px 12px;
    width: 100%;

    &::placeholder {
      color: #babdbd;
    }

    &:focus {
      border-color: #e2e4e4;
      outline: none;
    }
  }

  .FormCompanyID {
    color: #707d7d;
    font-size: 12px;
    margin-top: 10px;
  }

  .FormCheckbox {
    cursor: pointer;
    opacity: 0;
    position: absolute;

    &:checked {
      & ~ .FormCustomCheckBox {
        border-color: #3bc4a1;
        background-color: #3bc4a1;
      }
    }
  }

  .FormCustomCheckBox {
    background-color: #fff;
    display: inline-block;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
    width: 12px;
  }

  .FormCheckBoxLabel {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 12px;

    &:hover  {
      .FormCustomCheckBox {
        background-color: #3bc4a1;
      }
    }

    a {
      border-bottom: 1px solid #3bc4a1;
      color: #3bc4a1;
      line-height: 1.3;
      text-decoration: none;
    }

  }

  .FormLink {
    font-size: 12px;
    text-align: center;

    a {
      color: #384141;
    }
  }
}

.Button {
  background-color: #3bc4a1;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-bottom: 35px;
  padding: 12px 10px;
  width: 100%;

  &:hover {
    background-color: darken(#3bc4a1, 2%);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.23);
  }
}

.Highlighted {
  color: #3bc4a1;
  font-weight: 700;
}


